USE [master]
GO
/****** Object:  Database [CustomerDB]    Script Date: 4/16/2015 10:21:35 AM ******/
CREATE DATABASE [CustomerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CustomerDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CustomerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CustomerDB_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
EXEC sys.sp_db_vardecimal_storage_format N'CustomerDB', N'ON'
USE [CustomerDB]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 4/16/2015 10:21:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblContacts](
	ContactId int identity(1,1) NOT NULL,
	FirstName [nvarchar](10) NOT NULL,
	LastName [nvarchar](10) NOT NULL,
	Email [nvarchar](10) NULL,
	PhoneNumber [nvarchar](10) NULL,
	ContactStatus [nvarchar](10) NULL
 CONSTRAINT [PK_dbo.tblCustomer] PRIMARY KEY CLUSTERED 
(
	ContactId ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO